<footer class="footer" xmlns:th="http://www.thymeleaf.org"
	th:fragment="footerfrag">
	<div class=" container-fluid ">
		<nav>
			<ul>
				<li><a href="/"> Controle Patrimonial </a></li>
				<li><a href="/about"> Sobre </a></li>
				<li><a href="/contact"> Fale Conosco </a></li>
			</ul>
		</nav>
		<div class="copyright" id="copyright">
			&copy;
			<script>
				document.getElementById('copyright').appendChild(
						document.createTextNode(new Date().getFullYear()))
			</script>
			, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
			Coded by <a href="https://www.creative-tim.com" target="_blank">Creative
				Tim</a> and <a
				href="mailto:felipeabreu.rj@gmail.com?subject=[Contato]%20Controle%20patrimonial">Felipe
				Abreu</a>.
		</div>
	</div>
</footer>